.navWrapper {
    width: 200px;
    right: 40px;
    height: 100vh;
    display: flex;
    position: fixed;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    gap: 20px;
    overflow: hidden;

    /* background-color: pink;+  */

    .linkWrapper {
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background: transparent;
        border: none;
        cursor: pointer;
        position: relative;
        transition: all 1000ms ease;

        .paginationWrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: auto;
            height: 50px;
            position: relative;
            transition: width 0.3s ease;


            .circle-linkPagination {
                width: 1px;
                height: 20px;
                background-color: #e61010;
                border: 4px solid #353232;
                /* border-radius: 50%; */
                position: absolute;
                z-index: 1;
            }

            .circle-linkPagination:hover {
                border: 4px solid #fff;
                background: #fff;
            }

            .active {
                border: 0px solid rgb(10, 143, 10);
                background-color: rgb(161, 255, 10);
                box-shadow: -1px 0px 5px limegreen;
            }

            .linkName {
                position: absolute;
                width: 100%;
                right: -100%;
                white-space: nowrap;
                align-items: center;
                display: flex;
                height: 100%;
                transition: right 0.35s ease;
                z-index: -1;
                color: #a0a0a0;
            }

            .h4TextAnim {
                color: #fff;
                right: 0;
                z-index: 1;
            }
        }

        .paginationWrapper::after {
            background-color: #fff;
            height: 1px;
            width: 70%;
            position: absolute;
            content: "";
            bottom: 0px;
            right: 0px;
            display: flex;
            z-index: 1;

        }

        &.linkWrapperAnim {
            width: 200px;

            .paginationWrapper {
                width: 100px;
                justify-content: flex-end;
                /* background-color: orange; */
            }
        }
    }

    .linkWrapper::after {
        content: "";
        height: 80%;
        width: 100%;
        position: absolute;
        right: 0px;
        border-radius: 50px 0% 0% 50px;
    }

    .linkWrapper:hover::after {


        background: linear-gradient(to right, rgb(29, 29, 29), transparent);
    }
}