.navWrapper {
    width: 200px;
    right: 40px;
    height: 100vh;
    display: flex;
    position: fixed;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    gap: 20px;
    overflow: hidden;

    .linkWrapper {
        width: 80px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: purple;
        border: none;
        cursor: pointer;
        position: relative;
        transition: all 0.35s ease;

        &::after {
            content: "";
            height: 80%;
            width: 100%;
            position: absolute;
            right: 0;
            border-radius: 50px 0 0 50px;
            z-index: 0;
            transition: background 0.3s ease;
        }

        &:hover::after {
            background: linear-gradient(to right, rgb(29, 29, 29), transparent);
        }

        &.linkWrapperAnim {
            width: 200px;
        }

        .paginationWrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70%;
            height: 50px;
            position: relative;
            transition: all 0.3s ease-in-out;
            background-color: red;
            right: 0px;

            &::after {
                content: "";
                background-color: #fff;
                height: 1px;
                width: 70%;
                position: absolute;
                bottom: 0;
                right: -100%;
                z-index: 1;
            }

            &:hover::after {
                right: 0;
            }

            .circle-linkPagination {
                width: 1px;
                height: 20px;
                border: 2px solid #353232;
                position: absolute;
                z-index: 2;
                right: 0;

                &.active {
                    border: none;
                    background-color: rgb(161, 255, 10);
                    box-shadow: -1px 0 5px limegreen;
                }
            }

            .linkName {
                position: relative;
                width: 70%;
                right: -100%;
                white-space: nowrap;
                display: flex;
                align-items: center;
                height: 100%;
                transition: right 0.35s ease;
                z-index: 0;
                color: #a0a0a0;

                background-color: aqua;

                &.h4TextAnim {
                    right: 0;
                    color: #fff;
                    z-index: 2;
                }
            }
        }
    }
}